<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Responsive Registration Form | CodingLab </title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="title"> Product Registration</div>
        <div class="content">
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Product Name</span>
                        <input type="text" placeholder="Enter your name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Product Category</span>
                        <select name="Product_Category" id="cat">
                            <option value="">Select the category</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Beauty">Beauty</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Product Status</span>
                        <select name="Product_Category" id="cat">
                            <option value="">Product Status</option>
                            <option value="Available">Available</option>
                            <option value="Out of Stocks">Out of Stocks</option>                           
                        </select>
                        
                    </div>
                    <div class="input-box">
                        <span class="details">Product Count</span>
                        <input type="text" placeholder="Enter the count" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Product Type</span>
                        <select name="Product_Category" id="cat">
                            <option value="">Product Type</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Beauty">Beauty</option> 
                            <option value="Applaince">Applaince</option>                          
                        </select>
                        
                    </div>
                    <div class="input-box">
                        <span class="details">Product Price</span>
                        <input type="text" placeholder="Enter the price" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Product Description</span>
                        <textarea cols="90" rows="4" type="text" placeholder="Enter the Description" required></textarea>
                        
                    </div>
                </div>
               
                

                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>

</body>

</html>